<!-- Modal -->
<div class="modal fade" id="animation" tabindex="-1" role="dialog" aria-labelledby="myModalLabel6" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
        <div class="modal-content" style="border-radius:0.7rem">

            <form method="POST" class="m-3">

                {% csrf_token %}

                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel6">ADD NOTE</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    {% for field in form %}
                        <div class="col-12">
                            <div class="form-group">
                                <label for="first-name-vertical">{{field.label}}</label>
                                {{field}}
                            </div>
                        </div>
                    {% endfor %}
                        <div class="card">
                            <div class="card-header p-0 pt-2">
                                <h4 class="card-title">Todos</h4>
                            </div>
                            <div class="card-content">
                                <div class="card-body p-0">
                                    <ul class="list-group p-0">
                                        <li class="list-group-item">
                                            <input id="checkbox-1" class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                                            <label for="checkbox-1">Cras justo odio</label>
                                        </li>
                                        <li class="list-group-item">
                                            <input id="checkbox-2" class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                                            <label for="checkbox-2">Dapibus ac facilisis in</label>
                                        </li>
                                        <li class="list-group-item">
                                            <input id="checkbox-3" class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                                            <label for="checkbox-3">Morbi leo risus</label>
                                        </li>
                                        
                                    </ul>
                                </div>
                            </div>
                        </div>

                </div>
                
                <div class="modal-footer">
                    <button type="button" class="btn btn-light-secondary" data-bs-dismiss="modal">
                        <i class="bx bx-x d-block d-sm-none"></i>
                        <span class="d-none d-sm-block">Close</span>
                    </button>
                    <button type="submit" class="btn btn-primary ms-1">
                        <i class="bx bx-check d-block d-sm-none"></i>
                        <span class="d-none d-sm-block">Save</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Custom Styles -->
<style>
    .modal {
        opacity: 0;
        transition: opacity 0.3s ease;
        visibility: hidden;
        pointer-events: none;
    }

    .modal.show {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }

    .modal-dialog {
        opacity: 0;
        transition: opacity 0.3s ease, transform 0.6s ease;
        transform: translateY(-20px);
    }

    .modal.show .modal-dialog {
        opacity: 1;
        transform: translateY(0);
    }

    .modal-content {
        border-radius: 0.7rem; /* Add this line */
    }
</style>
