{% extends 'main-web.html' %}

{% load static %}

{% block content %} 

<div id="main">
    <header class="mb-3">
        <a href="#" class="burger-btn d-block d-xl-none">
            <i class="bi bi-justify fs-3"></i>
        </a>
    </header>
            
    <div class="page-heading">
        <div class="page-title">
            <div class="row">
                <div class="col-12 col-md-6 order-md-1 order-last">
                    <h3>Notes</h3>
                </div>
                <div class="col-12 col-md-6 order-md-2 order-first">
                    <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'analytics' %}">Dashboard</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Notes</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-5">
        <div class="col-3"></div>
        <div class="col-6">
            <form class="form" method="GET">
                <div class="input-group input-group-lg">
                    <input value="{{search_query}}" type="text" id="first-name-horizontal" class="form-control rounded-pill" name="search" placeholder="Search by note title">
                    <div class="m-2">
                        <button class="btn btn-outline-secondary rounded-pill" type="submit">
                            <i class="bi bi-search"></i>
                        </button>
                    </div>
                </div>
            </form>            
        </div>
        <div class="col-3 "></div>
    </div>

    <!-- Basic card section start -->
    <section id="content-types">
        <div class="row">
    
    
            {% for note in notes %}

            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="card">
                    <div class="card-content">
                        
                        
                        <div class="card-body">
                            <div class="d-flex justify-content-between align-items-center">
                                <div>
                                    <h4 class="card-title mb-0">{{ note.title }}</h4>
                                    <small class="text-muted">
                                        By <a href="">{{ note.owner.name }}</a>
                                    </small>
                                </div>
                                <div class="dropdown">
                                    <i class="bi bi-three-dots-vertical" id="optionsMenu" data-bs-toggle="dropdown" aria-expanded="false" style="cursor: pointer;"></i>
                                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="optionsMenu">
                                        <li><a class="dropdown-item" href="#"><i class="bi bi-pencil-square"></i> Edit</a></li>
                                        <li><a class="dropdown-item" href="#"><i class="bi bi-trash"></i> Delete</a></li>
                                    </ul>
                                </div>
                            </div>
                            
                                <hr>

                            </small>
                            <p class="card-text mt-3">
                                {{note.description|slice:100}}
                            </p>
                            <p class="card-text">
                                Cupcake fruitcake macaroon donut pastry gummies tiramisu chocolate bar muffin.
                            </p>

                            <!-- {% for tag in project.tags.all|slice:"5" %}

                                <span class="badge bg-light-primary" style="border-radius: 50px;">
                                    <small>{{tag}}</small>
                                </span>

                            {% endfor %} -->

                            <!-- <div class="btn-group align-items-center mx-2 px-1">
                                <button type="button" class="btn btn-link p-2 m-1 text-decoration-none">
                                    <i
                                        class="bi bi-heart d-flex align-items-center justify-content-center text-secondary"> {{ project.like_total }}</i>
                                </button>
                                <button type="button" class="btn btn-link p-2 m-1 text-decoration-none">
                                    <i
                                        class="bi bi-chat d-flex align-items-center justify-content-center text-secondary"></i>
                                </button>
                                <button type="button" class="btn btn-link p-2 m-1 text-decoration-none">
                                    <i
                                        class="bi bi-bookmark d-flex align-items-center justify-content-center text-secondary"></i>
                                </button>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
            
            {% endfor %}

        </div>
    </section>
    <!-- Basic Card types section end -->

    {% include 'pagination.html' with query_set=projects custom_range=custom_range %}

</div>

{% include 'notes/note-model.html' %}

<a data-bs-toggle="modal" data-bs-target="#animation" type="button" href="#" class="btn btn-primary" style="position: fixed; bottom: 35px; right: 35px; background-color: rgb(255, 255, 255, 0.4); backdrop-filter: blur(100px); 
    color: rgb(255, 255, 255); border: solid 0.151rem; border-color: rgb(255, 255, 255, 0.4); padding: 18px; padding-top: 5px; padding-bottom: 5px; 
    border-radius: 13px; cursor: pointer; font-size: 30px; z-index: 999;">+</a>



{% endblock content %}
