{% extends 'main-web.html' %}

{% load static %}

{% block content %}
<div id="main">
    <header class="mb-3">
        <a href="#" class="burger-btn d-block d-xl-none">
            <i class="bi bi-justify fs-3"></i>
        </a>
    </header>
            
    <div class="page-heading email-application overflow-hidden">
        <div class="page-title">
            <div class="row">
                <div class="col-12 col-md-6 order-md-1 order-last">
                    <h3>Mail Box</h3>
            <p class="text-subtitle text-muted">Ezy messaging tool for formal works .</p>
            </div>
            <div class="col-12 col-md-6 order-md-2 order-first">
                <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'analytics' %}">Dashboard</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Mail Box</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
    <section class="section content-area-wrapper">
        <div class="sidebar-left">
            <div class="sidebar">
                <div class="sidebar-content email-app-sidebar d-flex">
                    <!-- sidebar close icon -->
                    <span class="sidebar-close-icon">
                        <i class="bi bi-x"></i>
                    </span>
                    <!-- sidebar close icon -->
                    <div class="email-app-menu">
                        <div class="form-group form-group-compose">
                            <!-- compose button  -->
                            <button type="button" class="btn btn-primary btn-block my-4 compose-btn">
                                <i class="bi bi-plus"></i>
                                Compose
                            </button>
                        </div>
                        <div class="sidebar-menu-list ps">
                            <!-- sidebar menu  -->
                            <div class="list-group list-group-messages">
                                <a href="#" class="list-group-item pt-0 active" id="inbox-menu">
                                    <div class="fonticon-wrap d-inline me-3">

                                        <svg class="bi" width="1.5em" height="1.5em" fill="currentColor">
                                            <use
                                                xlink:href=" {% static 'ui-kit/assets/static/images/bootstrap-icons.svg#envelope' %} " />
                                        </svg>
                                    </div>
                                    Inbox
                                    <span
                                        class="badge bg-light-primary badge-pill badge-round float-right mt-50"> {{unread_count}} </span>
                                </a>
                                <a href="#" class="list-group-item">
                                    <div class="fonticon-wrap d-inline me-3">

                                        <svg class="bi" width="1.5em" height="1.5em" fill="currentColor">
                                            <use
                                                xlink:href=" {% static 'ui-kit/assets/static/images/bootstrap-icons.svg#archive' %} " />
                                        </svg>
                                    </div>
                                    Sent
                                </a>
                                <a href="#" class="list-group-item">
                                    <div class="fonticon-wrap d-inline me-3">

                                        <svg class="bi" width="1.5em" height="1.5em" fill="currentColor">
                                            <use
                                                xlink:href=" {% static 'ui-kit/assets/static/images/bootstrap-icons.svg#pencil' %} " />
                                        </svg>
                                    </div> Draft
                                </a>
                                <a href="#" class="list-group-item">
                                    <div class="fonticon-wrap d-inline me-3">

                                        <svg class="bi" width="1.5em" height="1.5em" fill="currentColor">
                                            <use xlink:href=" {% static 'ui-kit/assets/static/images/bootstrap-icons.svg#star' %} " />
                                        </svg>
                                    </div>
                                    Starred
                                </a>
                                <a href="#" class="list-group-item">
                                    <div class="fonticon-wrap d-inline me-3">

                                        <svg class="bi" width="1.5em" height="1.5em" fill="currentColor">
                                            <use
                                                xlink:href=" {% static 'ui-kit/assets/static/images/bootstrap-icons.svg#info-circle' %} " />
                                        </svg>
                                    </div>
                                    Spam
                                    <span
                                        class="badge bg-light-danger badge-pill badge-round float-right mt-50">3</span>
                                </a>
                                <a href="#" class="list-group-item">
                                    <div class="fonticon-wrap d-inline me-3">
                                        <svg class="bi" width="1.5em" height="1.5em" fill="currentColor">
                                            <use
                                                xlink:href=" {% static 'ui-kit/assets/static/images/bootstrap-icons.svg#trash' %} " />
                                        </svg>
                                    </div>
                                    Trash
                                </a>
                            </div>
                            <!-- sidebar menu  end-->

                            <!-- sidebar label start -->
                            <!-- <label class="sidebar-label">Labels</label> -->
                            <!-- <div class="list-group list-group-labels">
                                <a href="#" class="list-group-item d-flex justify-content-between align-items-center">
                                    Product
                                    <span class="bullet bullet-success bullet-sm"></span>
                                </a>
                                <a href="#" class="list-group-item d-flex justify-content-between align-items-center">
                                    Work
                                    <span class="bullet bullet-primary bullet-sm"></span>
                                </a>
                                <a href="#" class="list-group-item d-flex justify-content-between align-items-center">
                                    Misc
                                    <span class="bullet bullet-warning bullet-sm"></span>
                                </a>
                                <a href="#" class="list-group-item d-flex justify-content-between align-items-center">
                                    Family
                                    <span class="bullet bullet-danger bullet-sm"></span>
                                </a>
                                <a href="#" class="list-group-item d-flex justify-content-between align-items-center">
                                    Design
                                    <span class="bullet bullet-info bullet-sm"></span>
                                </a>
                            </div> -->
                            <!-- sidebar label end -->
                            <div class="ps__rail-x" style="left: 0px; bottom: 0px;">
                                <div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div>
                            </div>
                            <div class="ps__rail-y" style="top: 0px; right: 0px;">
                                <div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 0px;"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- User new mail right area -->
                <div class="compose-new-mail-sidebar ps" style="background: transparent;">
                    <div class="card shadow-none quill-wrapper p-0">
                        <div class="card-header">
                            <h3 class="card-title" id="emailCompose">New Message</h3>
                                <button type="button" class=" close close-icon btn-close email-compose-new-close-btn mt-2" aria-label="Close"></button>
                            
                      
                        </div>
                        <!-- form start -->
                        <form action="#" id="compose-form">
                            <div class="card-content">
                                <div class="card-body pt-0">
                                    <div class="form-group pb-50">
                                        <label for="emailfrom">From</label>
                                        <input type="text" id="emailfrom" class="form-control"
                                            placeholder="user@example.com" disabled="">
                                    </div>
                                    <div class="form-label-group">
                                        <label for="emailTo">To</label>
                                        <input type="email" id="emailTo" class="form-control" placeholder="To"
                                            required="">
                                        
                                    </div>
                                    <div class="form-label-group mt-3">
                                        <label for="emailSubject">Subject</label>
                                        <input type="text" id="emailSubject" class="form-control" placeholder="Subject">
                                        
                                    </div>
                                    <!-- <div class="form-label-group">
                                        <input type="text" id="emailCC" class="form-control" placeholder="CC">
                                        <label for="emailCC">CC</label>
                                    </div>
                                    <div class="form-label-group">
                                        <input type="text" id="emailBCC" class="form-control" placeholder="BCC">
                                        <label for="emailBCC">BCC</label>
                                    </div> -->
                                    <!-- Compose mail Quill editor -->
                                    <div class="form-label-group mt-3 mb-3">
                                        <label for="emailSubject">Body</label>
                                        <textarea type="text" id="emailSubject" class="form-control" placeholder="Body"></textarea>  
                                        
                                    </div>
                                    <div class="form-group mt-2">
                                        <div class="custom-file">
                                            <label class="custom-file-label" for="emailAttach">Attach File</label>
                                            <input type="file" class="form-control" id="emailAttach">
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer d-flex justify-content-end pt-0">
                                <button type="reset" class="btn btn-light-secondary cancel-btn me-1">
                                    <i class="bi bi-x me-3"></i>
                                    <span class="d-sm-inline d-none">Cancel</span>
                                </button>
                                <button type="submit" class="btn-send btn btn-primary">
                                    <i class="bi bi-send me-3"></i> <span class="d-sm-inline d-none">Send</span>
                                </button>
                            </div>
                        </form>
                        <!-- form start end-->
                    </div>
                    <div class="ps__rail-x" style="left: 0px; bottom: 0px;">
                        <div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div>
                    </div>
                    <div class="ps__rail-y" style="top: 0px; right: 0px;">
                        <div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 0px;"></div>
                    </div>
                </div>
                <!--/ User Chat profile right area -->
            </div>
        </div>
        <div class="content-right">
            <div class="content-overlay"></div>
            <div class="content-wrapper">
                <div class="content-header row">
                </div>
                <div class="content-body">
                    <!-- email app overlay -->
                    <div class="app-content-overlay"></div>
                    <div class="email-app-area">
                        <!-- Email list Area -->
                        <div class="email-app-list-wrapper">
                            <div class="email-app-list">
                                <div class="email-action">
                                    <!-- action left start here -->
                                    <div class="action-left d-flex align-items-center">
                                        <!-- select All checkbox -->
                                        <div class="checkbox checkbox-shadow checkbox-sm selectAll me-3">
                                            <input type="checkbox" id="checkboxsmall" class='form-check-input'>
                                            <label for="checkboxsmall"></label>
                                        </div>
                                        <!-- delete unread dropdown -->
                                        <ul class="list-inline m-0 d-flex">
                                            <li class="list-inline-item mail-delete">
                                                <button type="button" class="btn btn-icon action-icon"
                                                    data-toggle="tooltip">
                                                    <span class="fonticon-wrap">
                                                        <i class="bi bi-trash" style="width: 1.5em; height: 1.5em; color: currentColor;"></i>

                                                        
                                                        
                                                    </span>
                                                </button>
                                            </li>
                                            <li class="list-inline-item mail-unread">
                                                <button type="button" class="btn btn-icon action-icon">
                                                    <span class="fonticon-wrap d-inline">

                                                        <i class="bi bi-envelope" style="width: 1.5em; height: 1.5em; color: currentColor;"></i>

                                                    </span>
                                                </button>
                                            </li>
                                            <li class="list-inline-item">
                                                <div class="dropdown">
                                                    <button type="button"
                                                        class="dropdown-toggle btn btn-icon action-icon" id="folder"
                                                        data-toggle="dropdown" aria-haspopup="true"
                                                        aria-expanded="false">
                                                        <span class="fonticon-wrap">

                                                            <i class="bi bi-folder" style="width: 1.5em; height: 1.5em; color: currentColor;"></i>

                                                        </span>
                                                    </button>
                                                    <div class="dropdown-menu dropdown-menu-right"
                                                        aria-labelledby="folder">
                                                        <a class="dropdown-item" href="#"><i class="bi bi-edit"></i>
                                                            Draft</a>
                                                        <a class="dropdown-item" href="#"><i
                                                                class="bi bi-info-circle"></i>Spam</a>
                                                        <a class="dropdown-item" href="#"><i
                                                                class="bi bi-trash"></i>Trash</a>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="list-inline-item">
                                                <div class="dropdown">
                                                    <button type="button"
                                                        class="btn btn-icon dropdown-toggle action-icon" id="tag"
                                                        data-toggle="dropdown" aria-haspopup="true"
                                                        aria-expanded="false">
                                                        <span class="fonticon-wrap">

                                                            <i class="bi bi-tag" style="width: 1.5em; height: 1.5em; color: currentColor;"></i>

                                                        </span>
                                                    </button>
                                                    <div class="dropdown-menu dropdown-menu-right"
                                                        aria-labelledby="tag">
                                                        <a href="#" class="dropdown-item align-items-center">
                                                            <span class="bullet bullet-success bullet-sm"></span>
                                                            <span>Product</span>
                                                        </a>
                                                        <a href="#" class="dropdown-item align-items-center">
                                                            <span class="bullet bullet-primary bullet-sm"></span>
                                                            <span>Work</span>
                                                        </a>
                                                        <a href="#" class="dropdown-item align-items-center">
                                                            <span class="bullet bullet-warning bullet-sm"></span>
                                                            <span>Misc</span>
                                                        </a>
                                                        <a href="#" class="dropdown-item align-items-center">
                                                            <span class="bullet bullet-danger bullet-sm"></span>
                                                            <span>Family</span>
                                                        </a>
                                                        <a href="#" class="dropdown-item align-items-center">
                                                            <span class="bullet bullet-info bullet-sm"></span>
                                                            <span> Design</span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- action left end here -->

                                    <!-- action right start here -->
                                    <div
                                        class="action-right d-flex flex-grow-1 align-items-center justify-content-around">
                                        <div class="sidebar-toggle d-block d-lg-none">
                                            <button class="btn btn-sm btn-outline-primary">
                                                <i class="bi bi-list fs-5" ></i>
                                            </button>
                                        </div>
                                        <!-- search bar  -->
                                        <div class="email-fixed-search flex-grow-1">

                                            <div class="form-group position-relative  mb-0 has-icon-left">
                                                <input type="text" class="form-control" placeholder="Search email..">
                                                <div class="form-control-icon">
                                                    <svg class="bi" width="1.5em" height="1.5em" fill="currentColor">
                                                        <use
                                                            xlink:href=" {% static 'ui-kit/assets/static/images/bootstrap-icons.svg#search' %} " />
                                                    </svg>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- pagination and page count -->
                                        <span class="d-none d-sm-block">1-10 of 653</span>
                                        <button class="btn btn-icon email-pagination-prev action-button d-none d-sm-block">
                                            <i class="bi bi-chevron-left" style="width: 1.5em; height: 1.5em; color: currentColor;"></i>

                                        </button>
                                        <button class="btn btn-icon email-pagination-next action-button d-none d-sm-block">
                                            <i class="bi bi-chevron-right" style="width: 1.5em; height: 1.5em; color: currentColor;"></i>

                                        </button>
                                    </div>
                                </div>
                                <!-- / action right -->

                                <!-- email user list start -->
                                <div class="email-user-list list-group ps ps--active-y" style="background-color: rgb(21, 21, 33);">
                                    <ul class="users-list-wrapper media-list">

                                        {% for message in message_request %}
    <a href="{% url 'mail-preview' message.id %}">
        <li class="media {% if not message.is_read %} mail-read {% endif %}">
            <div class="user-action">
                <div class="checkbox-con me-3">
                    <div class="checkbox checkbox-shadow checkbox-sm">
                        <input type="checkbox" id="checkboxsmall{{ forloop.counter }}" class='form-check-input'>
                        <label for="checkboxsmall{{ forloop.counter }}"></label>
                    </div>
                </div>
                <span class="favorite text-warning">
                    <i class="bi bi-star-fill" style="width: 1.5em; height: 1.5em; color: currentColor;"></i>
                </span>
            </div>
            <div class="pr-50">
                <div class="avatar">
                    <img src="{% static 'ui-kit/assets/compiled/jpg/1.jpg' %}" alt="avatar img holder">
                </div>
            </div>
            <div class="media-body">
                <div class="user-details">
                    <div class="mail-items">
                        <span class="list-group-item-text text-truncate">{{ message.subject }}</span>
                    </div>
                    <div class="mail-meta-item">
                        <span class="float-right">
                            <span class="mail-date">{{ message.created }}</span>
                        </span>
                    </div>
                </div>
                <div class="mail-message">
                    <p class="list-group-item-text truncate mb-0">
                        {{ message.body|slice:":100" }}
                    </p>
                    <div class="mail-meta-item">
                        <span class="float-right d-flex align-items-center">
                            <i class="bi bi-paperclip me-3"></i>
                            <span class="bullet bullet-success bullet-sm"></span>
                        </span>
                    </div>
                </div>
            </div>
        </li>
    </a>
{% endfor %}

                                        
                                    </ul>
                                    <!-- email user list end -->

                                    <!-- no result when nothing to show on list -->
                                    <div class="no-results">
                                        <i class="bi bi-error-circle font-large-2"></i>
                                        <h5>No Items Found</h5>
                                    </div>
                                    <div class="ps__rail-x" style="left: 0px; bottom: 0px;">
                                        <div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div>
                                    </div>
                                    <div class="ps__rail-y" style="top: 0px; height: 733px; right: 0px;">
                                        <div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 567px;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--/ Email list Area -->

                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
    
    

    
<script>
    document.querySelector('.sidebar-toggle').addEventListener('click', () => {
        document.querySelector('.email-app-sidebar').classList.toggle('show')
    })
    document.querySelector('.sidebar-close-icon').addEventListener('click', () => {
        document.querySelector('.email-app-sidebar').classList.remove('show')
    })
    document.querySelector('.compose-btn').addEventListener('click', () => {
        document.querySelector('.compose-new-mail-sidebar').classList.add('show')
    })
    document.querySelector('.email-compose-new-close-btn').addEventListener('click', () => {
        document.querySelector('.compose-new-mail-sidebar').classList.remove('show')
    })
</script>
y

{% endblock content %}