{% extends 'main-web-non-sidebar.html' %}

{% load static %}

{% block content %}

<nav class="navbar navbar-light">
    <div class="container d-block">
        <a href="{% url 'inbox' %}"><i class="bi bi-chevron-left"></i></a>
        <a class="navbar-brand ms-4" href="{% url 'inbox' %}">
            <img src="{% static 'ui-kit/assets/compiled/png/logo.png' %}" alt="EventArc">
        </a>
    </div>
</nav>
<div class="container">
    <div class="row">

        <div class="col-12">
            <div class="card">
                <div class="card-content">
                    <div class="card-body">
                        <h4 class="card-title">{{ message.subject|capfirst }}</h4>
                        <p class="card-text mt-4">
                            {{ message.body|linebreaksbr }}
                        </p>
                        <p class="card-text">
                           By {{ message.sender }}
                        </p>
                        <small class="text-muted">{{ message.created }}</small>
                    </div>
                    <div class="row justify-content-end">
                        <div class="col-4 ms-auto text-end">
                            <img class="card-img-bottom img-fluid mb-3" src="{% static 'ui-kit/assets/compiled/jpg/mail.png' %}" 
                            alt="Card image cap" style="height: 60px; width: auto;">
                        </div>
                    </div>
                    
                    
                   
                </div>
            </div>
        </div>
    </div>
</div>




{% endblock content %}